<div class="visual">
  <div class="visual-inner">
    <h1>IT'S TIME TO MAKE YOU HEALTHY!!</h1>
    <%= link_to "SIGN UP NOW", new_user_registration_path, class:"btn btn-warning text-white" %>
  </div>
</div>
